.formContainer {
    background-color: #e1d1fd;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    border-bottom: 2px solid #7e3ff2;
    margin-bottom: 0.5rem;
  }
   
  .formGroup {
    margin-bottom: 0.5rem;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    color: #444;
    font-weight: bold;
  }
  
  .formGroup input[type="text"],
  .formGroup input[type="date"] {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
  }
  
  .formGroup input:focus {
    border-color: #904792;
  }
  
  .genderOptions {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  
  .genderOptions label {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: normal;
  }
  
  .btnVerificar {
    background-color: #7e3ff2;
    color: #fff;
    padding: 0.75rem;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.3s;
  }
  
  .btnVerificar:hover {
    background-color: #5700f8;
  }
  .imgLogo {
    display: block;
    height: auto;
    max-width: 150px;
    margin: 0 auto;
  }

  .unreliableDetails {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #fbc02d; 
    background-color: #fffde7; 
    border-radius: 5px;
}

.unreliableMessage {
    color: #d32f2f; 
    font-weight: bold;
    background-color: #ffe0e0; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px dashed #d32f2f;
}

.statusUnreliable {
    color: #d32f2f; 
    font-weight: bold;
  
}

.statusReliable {
    color: #2e7d32; 
    font-weight: bold;
}

.reliableMessage{
  color: #2e7d32;
  margin-top: 1rem;
  font-weight: bold;
}