.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    gap: 1rem;
    background-image: url('fundo.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    color: white;
    z-index: 1;
    overflow: hidden;
    
}
