.btn {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
  background-color: var(--accent-primary);
}

.btn:hover {
  background-color: var(--accent-primary-hover);
}

.secondary {
  background-color: var(--accent-lighter);
  color: var(--text-secondary);
}

.secondary:hover {
  background-color: var(--accent-primary);
}