.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    padding: 40px 0;
  }

.nos{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: bold;
    
}
.texto1{
    font-size: 1.3rem;
    font-weight: lighter;
}
.objetivo{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: bold;
    
}
.texto2{
    font-size: 1.3rem;
    font-weight: lighter;
}
.valores{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: bold;
    
}
.texto3{
    font-size: 1.3rem;
    font-weight: lighter;
}