.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    padding: 40px 0;
  }

.box1{
    background-color: #7e3ff2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  width: 100%;            
  max-width: 1000px;      
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.box2{
    background-color: #4169E1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  width: 100%;            
  max-width: 1000px;      
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box3{
    background-color: #7e3ff2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  width: 100%;            
  max-width: 1000px;      
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.nos{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}
.texto1{
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}
.objetivo{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}
.texto2{
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}
.valores{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}
.texto3{
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}